<!DOCTYPE html>
<html>

   <head>

        <link rel="stylesheet" href="/css/products-detalle.css">
         <%- include('../partials/head'); %>
    
   </head>

   <body>

        <header >

            <%- include('../partials/header'); %>
              
        </header>

        <main id="maindetalle">

            <section class="sectionproducto">

                <div class="containerimagen">
                    <img class="imagenproducto" src="../images\productos\<%= producto.image %>" alt="">
                </div>
                <div class="containersubsection">
                    <div class="containerdescripcion">
                        <h3 class="descripcionproducto"> <%= producto.description %> </h3>
                    </div>
                    <div>
                        <article class="articlestreamhouse"> 
                            <div class="precioespecial">PRECIO STREAMHOUSE: $<%= ( ( (100-producto.discount) * producto.price ) / 100  ) %></div>
                            <div class="descuentoespecial">DESCUENTO <%= producto.discount %>% </div>
                        </article>
                        <article class="articlempago"> PAGA CON MERCADO PAGO </article>
                        <article class="articlepreciolista"> 
                            <div>PRECIO DE LISTA: $<%= producto.price %></div>
                            <div> PAGA EN HASTA 12 CUOTAS SIN INTERES</div>
                        </article>
                        <div class="containerbotoncomprar">
                            <button type="submit" name="comprar" class="botoncomprar"> AÑADIR AL CARRITO </button>
                        </div>
                        
                        <div class="containermodificadores">    
                            
                            <a class="abotoneditar" href="/products/editar/<%= producto.id %>"><button type="submit" name="editar" class="botoneditar"> EDITAR </button></a>
                            
                            <form class="formbottonborrar" action="/products/<%= producto.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                                <button type="submit" class="botonborrar">ELIMINAR</button>
                            </form>
                            
                        </div>

                    </div>
                </div>
                <div class="containerespecificaciones"> 
                    <h4 class="tituloespecificaciones"> ESPECIFICACIONES</h4>
                    <span class="especificaciones"> 
                        MONITOR
                        <br>
                        <br>
                        Tamaño de pantalla (clase): 49
                        <br>
                        Plano / Curvo: Curvo
                        <br>
                        Curvatura: 1000R
                        <br>
                        Relación de aspecto: 32:9
                        <br>
                        Brillo máximo (típico): 1000cd/m2 cd/㎡
                        <br>
                        Resolución: 5.120 x 1.440
                    </span>
                </div>

            </section>

        </main>

        <footer>

            <%- include('../partials/footer'); %>
            
        </footer>

    </body>
   
<html>