<!DOCTYPE html>
<html>

   <head>
    
        <%- include('../partials/head'); %>
       
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/footer.css">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/css/products-detalle.css">
    
   </head>

   <body>

        <header >

            <%- include('../partials/header'); %>
              
        </header>

        <main id="maindetalle">

            <section class="sectionproducto">

                <div class="containerimagen">
                    <img class="imagenproducto" src="../images\productos\<%= producto[0].imagen %>" alt="">
                    <br>
                    <div>
                        <%= producto[0].nombre %>
                    </div>
                    
                </div>
                <div class="containersubsection">
                    <div class="containerdescripcion">
                        <h3 class="descripcionproducto"> <%= producto.description %> </h3>
                    </div>
                    <div>
                        <article class="articlestreamhouse"> 
                            <div class="precioespecial">PRECIO STREAMHOUSE: $<%= ( ( (100-producto[0].descuento) * producto[0].precio ) / 100  ) %></div>
                            <div class="descuentoespecial">DESCUENTO <%= producto[0].descuento %>% </div>
                        </article>
                        <article class="articlempago"> PAGA CON MERCADO PAGO </article>
                        <article class="articlepreciolista"> 
                            <div>PRECIO DE LISTA: $<%= producto[0].precio %></div>
                            <div> PAGA EN HASTA 12 CUOTAS SIN INTERES</div>
                        </article>
                        <div class="containerbotoncomprar">
                            <button type="submit" name="comprar" class="botoncomprar"> AÑADIR AL CARRITO </button>
                        </div>
                        
                        <div class="containermodificadores">    
                            
                            <a class="abotoneditar" href="/products/editar/<%= producto.id %>"><button type="submit" name="editar" class="botoneditar"> EDITAR </button></a>
                            
                            <form class="formbottonborrar" action="/products/<%= producto.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                                <button type="submit" class="botonborrar">ELIMINAR</button>
                            </form>
                            
                        </div>

                    </div>
                </div>
                <div class="containerespecificaciones"> 
                    <h4 class="tituloespecificaciones"> ESPECIFICACIONES</h4>
                    <span class="especificaciones"> 
                       Categoria:<%= producto[0].categoria %>
                       <br>
                       Color: <%= producto[0].color %>
                       <br>
                       <%= producto[0].especificaciones %>
                    </span>
                </div>

            </section>

        </main>

        <footer>

            <%- include('../partials/footer'); %>
            
        </footer>

    </body>
   
<html>