<!DOCTYPE html>

<html lang="en">

    <head>
        <%- include('../partials/head'); %>
        <!-- Crear -->
        <link rel="stylesheet" href="/css/crear.css">
    </head>
    
    <body >
        
        <header>

            <%- include('../partials/header'); %>  

        </header>
        
        <main>

            <div class= "divCrear">

                <form class="formCrear" action="/products/editar/<%=producto.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                    
                    <h4>Editar producto</h4>
                    
                    <input class="casilla" type="text" name="name" id="name" value="<%=producto.name%>" placeholder="Nombre del producto:">    
                    
                    <input class="casilla" type="text" name="price" id="price" value="<%=producto.price%>" placeholder="Precio:">
                    
                    <input class="casilla" type="text" name="discount" id="discount" value="<%=producto.discount%>" placeholder="Descuento:">
                    
                    <select class="casilla" name="category" id="category" placeholder="Categoría:">
                        <% if (producto.category=="in-sale") {%>
                            <option value="">Elegí</option>
                            <option value="in-sale" selected>En oferta</option>
                            <option value="visited" >Últimos agregados</option>
                        <% } %>
                        <% if (producto.category=="visited") {%>
                            <option value="">Elegí</option>
                            <option value="in-sale">En oferta</option>
                            <option value="visited" selected>Últimos agregados</option>
                        <% } %>{
                    </select>
                    
                    <input class="casilla" type="text" name="description" id="description" value="<%=producto.description%>" placeholder="Descripción:">
                    
                    <div>
						<label for="newimage" class="form-label">Cargar Imagen</label>
						<input type="file" name="newimage" id="image"></input>
					</div>
                    
                    <br>
                    
                    <button class="casilla" type="submit">Editar</button>
                
                </form>
                
            </div>

        </main>

        <footer>

            <%- include('../partials/footer'); %>

        </footer>

    </body>

</html>