<!DOCTYPE html>

    <head>
        
        <link rel="stylesheet" href="/css/products-listado.css">
        <%- include('../partials/head'); %>

    </head>

    <body>

        <header>

            <%- include('../partials/header'); %>

        </header>

        <main id="mainlistado">

            <section id="sectionlistado">

                <h3 class="titulolistado"> Productos destacados </h3>
                
                <div class="divorden">
                    <% for(let p of productos) { %>
                        <a href="/products/<%= p.id %>">
                            <div class="divcontainerarticle">
                                <article class="articlelistado">
                                    <img class="imglistado"  src="./images\productos\<%= p.image %>" alt="">
                                    <h4 class="nombreproducto"> <%= p.name %> </h4>
                                    <div>
                                        <div class="containerdetalle">
                                            <div class="detalleproducto"> $<%= p.price %> </div>
                                            <div class="detalleproducto"> <%= p.discount %> % </div>
                                        </div>
                                        <div class="descripcionproducto"> <%= p.description %> </div>
                                    </div>
                                </article>
                            </div>
                        </a>
                    <% } %>
                </div>

            </section>

        </main>

        <footer>

            <%- include('../partials/footer'); %>

        </footer>

    </body>

</html>
