<!DOCTYPE html>

    <head>
        
        <%- include('../partials/head'); %>
        <link rel="stylesheet" href="/css/products-listado.css">
        <link rel="stylesheet" href="../css/header.css">
         <link rel="stylesheet" href="../css/footer.css">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
       

    </head>

    <body>

        <header>

            <%- include('../partials/header'); %>

        </header>

        <main id="mainlistado">

            <section id="sectionlistado">

                <h3 class="titulolistado"> Productos destacados </h3>
                
                <div class="divorden">
                    <% for(let p of AllProductos) { %>
                        <a href="/products/<%= p.id %>">
                            <div class="divcontainerarticle">
                                <article class="articlelistado">
                                    <img class="imglistado"  src="./images\productos\<%= p.image %>" alt="">
                                    <h4 class="nombreproducto"> <%= p.nombre %> </h4>
                                    <div>
                                        <div class="containerdetalle">
                                            <div class="detalleproducto"> $<%= p.precio %> </div>
                                            <div class="detalleproducto"> <%= p.color %> ** </div>
                                        </div>
                                        <div class="descripcionproducto"> <%= p.categoria %> </div>
                                    </div>
                                </article>
                            </div>
                        </a>
                    <% } %>
                </div>

            </section>

        </main>

        <footer>

            <%- include('../partials/footer'); %>

        </footer>

    </body>

</html>
