<!DOCTYPE html>
<html>
   <head>
         <%- include('../partials/head'); %>
   </head>

   <body>
        <header >
            <%- include('../partials/header'); %>
            <link rel="stylesheet" href="../css/home.css">
        </header>

        <main class="main-home">  
                   
            <div align="center" class="containerSlider">

                <ul class="slider">
                    <li id="slide1">
                        <img src="./images/slider/1.jpg"/>
                    </li>
                    <li id="slide2">
                        <img src="./images/slider/2.jpg"/>
                    </li>
                    <li id="slide3">
                        <img src="./images/slider/3.jpg"/>
                    </li>
                    
                </ul>

                <ul  class="menuSlider">
                    <li>
                        <a href="#slide1">1</a>
                    </li>
                    <li>
                        <a href="#slide2">2</a>
                    </li>
                    <li>
                        <a href="#slide3">3</a>
                    </li>
                </ul>

            </div>
              
            

            <div class="productosUnaColumna" >
                
                <div class="productosDosColumna">
                    
                    <div class="productosCuatroColumnas">
                        
                        <% for(let p of productos) { %>

                        <div class="producto">
                            
                            <img class="imgProducto"  src="./images/productos/<%= p.image %>" alt="">
                            <div class="valorYDescuento">
                                <span>$<%= p.price %></span> 
                            </div>
                            <div class="nombreProducto">
                                <span><%= p.name %></span>
                            </div>

                        </div>

                        <% } %>    
                        
                    </div>

                </div>

            </div>

            

        </main>

        <footer>
        
            <%- include('../partials/footer'); %>
        
        </footer>

    </body>
   
<html>



